/* 
Inspired by:
https://www.chenhuijing.com/blog/html-slides-without-frameworks/#%F0%9F%9A%B2
*/

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "iA Writer Duospace", Courier, monospace;
    height: 100%;
    font-size: 2em;
    text-align: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

a {
    color: #1572b6;
    text-decoration: none;
    word-wrap: break-word;
}

a:hover {
    text-decoration: underline;
    transform: scale(1.2);
}

.wrapper {
    width: 100%;
}

.controls {
    font-size: 50%;
    margin: 0 1em;
}

section[id^=slide]:target~#start {
    display: none;
}

[id^=slide] {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    padding: 1em;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 0;
    transition: opacity 0.8s, -webkit-transform 1s;
    transition: transform 1s, opacity 0.8s;
    transition: transform 1s, opacity 0.8s, -webkit-transform 1s;
    width: 100%;
    z-index: 0;
}

[id^=slide]:target {
    transform: rotate(0deg);
    z-index: 1;
}

[id^=slide]:target~[id^=slide] {
    opacity: 0;
    transform: rotate(-90deg);
}
